@import url(reset.css);

/* decoration for blocks */
body {
    background-color: #E3B448;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px 150px;
}

nav {
    background-color: #CBD18F;
    color:blueviolet;
    padding: 15px;
    font-size: 16pt;
    font-weight: 700;
}

div {
    background-color: white;
    padding: 10px;
    margin: 0px 0px 10px 0px;
}

footer {
    background-color: #3A6B35;
    color:white;
    padding: 15px;   
    font-style: italic;
}
/* */


/* Text decoration */
h1 {
    font-weight: 700;
    font-size: 20pt;
}

h3 {
    font-weight: 600;
    font-size: 18pt;
}

p {
    font-size: 14pt;
}

header {
    background-color: #3A6B35;
    color:white;
    padding: 15px;
}
/* */


/* CV decorations */
#title {
    font-size: 16pt;
}

#hobbies, #CV {
    font-style: italic;
}

#body, #education, #skills {
    background-color: white;
    padding: 10px;
    margin: 20px 0px;
}

#cv {
    text-align: center;
    background-color: #E3B448;
}

#cv img {
    padding-top: 8pt;
}
/* */


/* Decoration for links */
a:link {
    text-decoration: underline;
    color:#E3B448;
}

a:visited {
    text-decoration: underline;
    color: purple;
}

a:hover, .function:hover{
    text-decoration: underline;
    color:black;
    font-weight: bold;
    background-color: white;
}
/* */


/* Image-related decoration */
figcaption {
    font-size: 14pt;
    font-style: italic;
}

figure {
    padding-top: 20px;
}
/* */


/* List decoration */
ol, ul {
    font-size: 12pt;
    padding: 10px 20px;
}
/* */


/* Attributes decoration */
[space] {
    padding-right: 15px;
}
/* */


/* Login form & Blog form decorations */
#login-page, #blog-page {
    text-align: center;
    padding-top: 15pt;
    background-color: #E3B448;
}

form {
    width: 30em;
    padding: 10pt;
    display: inline-block;
}

fieldset {
    background-color: #3A6B35;
    border: none;
    padding: 20pt;
}

#login-page h1, #blog-page h1 {
    color: white;
}

#login-page div, #blog-page div {
    background-color: #3A6B35;
}

input, textarea {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.function {
    background-color: #7554A3;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16pt;   
}
/* */


table {
    text-align: center;
    font-size: larger;
    padding-bottom: 10pt;
}

th, td {
    padding: 5pt;
}

#education h1, #skills h1 {
    text-align: center;
    color: #3A6B35;
}
