html, body, h1, h2, h3, h4, h5, h6, p, i, strong
a, img, strong, ol, ul, li, article, figure, figcaption, 
footer, header, hgroup, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}